@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  animation: gradientAnimation 5s infinite linear;

}

@keyframes gradientAnimation {
  0% {
    background-color: #62a5ed;
  }

  50% {
    background-color: #28a745;
  }

  100% {
    background-color: #20c997;
  }

  100% {
    background-color: #343a40;
  }

  100% {
    background-color: #6c757d;
  }


}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}